<?xml version='1.0' encoding='utf-8'?>
<widget id="com.agrhp2p.app" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>安广融合</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />

    <icon src="res/icon/36X36.png" density="ldpi" />
    <icon src="res/icon/48X48.png" density="mdpi" />
    <icon src="res/icon/72X72.png" density="hdpi" />
    <icon src="res/icon/96X96.png" density="xhdpi" />
    <icon src="res/icon/144X144.png" density="xxhdpi" />
    <icon src="res/icon/192X192.png" density="xxxhdpi" />

    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
</widget>
